@import "tailwindcss";
@plugin "daisyui";

html{
    background-color: #000000;
    scroll-behavior: smooth;
}

@theme {
  --font-oswald: var(--font-oswald);
}

.font-inter {
  font-family: "Inter";
}